# PUT VARS HERE WHICH SHOULD NOT BE IN MACHINE ENV OR SETTINGS

# Options are 'SQLITE', 'AIRTABLE'
STORAGE='SQLITE'

# SQLite
SQLITE_DB_PATH = './db'
SQLITE_DB = 'auth.db'

# Airtable account
AIRTABLE_API_KEY='keyc------X-----i'
AIRTABLE_PROFILE_BASE_ID = 'appv------X-----c'
USERS_TABLE = 'users'

# Encryption keys
ENC_PASSWORD='YouWillNeverGuessThisSecretKey32'
ENC_NONCE='nonsensical'

# Cookie name
COOKIE_NAME='auth-simple-for-streamlit'
